*{
    margin: 0px;
    padding:0px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1.5px;
}
body{
  background-color: #f4f4f4;

}
h5{
  color:black;
  margin-bottom: -20px;
  float: left;
  background-color: #DDE2EA;
  padding-left: 82.8vw;
  font-size: 12px;
}
/*NAV*/
#flex-container{
    display: flex;
    justify-content: space-between;
  }
  #flex-box2{
    margin-top: 45px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin: 14px 56px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav img{
    height:100px;
  }
  .topnav a:hover {
    color: #A9311B;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

#frank{
    border-radius: 50%;
}

main{
    text-align: center;
    width: 50vw;
    margin: auto;
}
footer{
    text-align: center;
    background-color: #DDE2EA
}

main h1 {
    margin-top:25vh;
    margin-bottom: 1vh;
    font-size: 7rem;
}

#header{
    height:70vh;
}

#header i{
    border:1px solid #A9311B;
    color:#A9311B;
    border-radius: 50%;
    padding:5px;
    font-size: 1.5rem;
    cursor: pointer;
}

#header i:hover{
    color:#8f2917
}

#body{
    margin-bottom: 40vh;
    background-color: #f4f4f4;
}

main h2{
    margin:5vh;
    margin-bottom: 10vh;
}
p#welcome{
    margin-bottom: 5vh;
    margin-top: 50px;
    margin:20px;
}

#frank{
  margin-bottom: 5vh;

}

p{
    margin:20px;
}

#flexbox{
    display: flex;
    justify-content: space-evenly;
}

#impressum{
    text-align:start;
}
#kontakt{
    text-align: start;
}
#impressum p, #kontakt p{
    margin:5px;
}
#impressum h4, #kontakt h4{
    margin-bottom:15px;
}

p#footer{
    margin:100px;
    letter-spacing: 2px;
    padding-bottom: 100px;
    margin-bottom: 0px;
}

  
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    main h1{
    font-size: 3rem;
    color:white;
    margin-top:10px;
    margin-bottom: 15vh;


    }
    main{
        width:90vw;
        text-align: center;
    }



    p#footer{
        margin:100px;
        letter-spacing: 2px;
        padding-bottom: 100px;
        margin-bottom: 0px;
        margin-left:5vw;
        margin-right: 5vw;
    }

    #flexbox{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin:10vw;
    }
    #impressum{
        text-align:center;
        margin-bottom: 50px;
    }
    #kontakt{
        text-align: center;
    }
  }

  @media screen and (max-width: 1300px){
    .topnav a {
        padding: 14px 16px;
      }
      .topnav img{
        margin-right: 5vw;
      }

  }

  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a{
        display:block;
      }
  
      #flex-container{
        display: block;
      }

  }