*{
    margin: 0px;
    padding:0px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1.5px;
}

/*NAV*/
#flex-container{
  display: flex;
  justify-content: space-between;
}

#flex-box2{
  margin-top: 45px;
}

.topnav {
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid black;
    justify-content: space-between;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin: 14px 56px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav img{
    height:100px;
}
  .topnav a:hover {
    color: #A9311B;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

body{
    background-image:url('img/bg.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 40%;
}

main{
    text-align: center;
    width: 100vw;
    margin: auto;
}
footer{
    text-align: center;
    background-color: #DDE2EA
}

main h1 {
    margin-top:25vh;
    margin-bottom: 55vh;
    font-size: 9rem;
    letter-spacing: 1.2rem;
    color:black;
    color:white;
    background-color: rgba(0, 0, 0, 0.418);
}

main h2{
    margin:5vh;
    margin-bottom: 10px;
}
p#welcome{
    line-height: 2rem;
    width:40vw;
    margin:auto;
    margin-bottom: 5vh;
    margin-top: 50px;
}

p{
    margin:20px;
}

#flexbox{
  display: flex;
  justify-content: space-evenly;
}

#impressum{
    text-align:start;
}
#kontakt{
    text-align: start;
}
#impressum p, #kontakt p{
    margin:5px;
}
#impressum h4, #kontakt h4{
    margin-bottom:15px;
}

p#footer{
    margin:100px;
    letter-spacing: 2px;
    padding-bottom: 100px;
    margin-bottom: 0px;
}


  
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    main h1{
    color:white;
    font-size: larger;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin-top:10%;
    padding:10px;
    margin-bottom: 15vh;
    background-color: #a9301b8d;

    }
    main{
        width:90vw;
        text-align: center;
    }

    body{
        background-image:url('img/bg.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100vw 40vh;
    }

    p#footer{
        margin:100px;
        letter-spacing: 2px;
        padding-bottom: 100px;
        margin-bottom: 0px;
        margin-left:5vw;
        margin-right: 5vw;
    }

    #flexbox{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin:10vw;
    }
    #impressum{
        text-align:center;
        margin-bottom: 50px;
    }
    #kontakt{
        text-align: center;
    }
  }

  @media screen and (max-width: 1300px){
    .topnav a {
        padding: 14px 16px;
      }
      .topnav img{
        margin-right: 5vw;
      }

  }

  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a{
      display:block;
    }

    #flex-container{
      display: block;
    }

  }